<!doctype html>
<html>
    <header>
        <style>
            .error {color: red}
        </style>
    </header>
    <body>
        <h1>Signup</h1>
        <form action ="/signup" method="POST">
            <label>Username
                <input type="text" name="username" value='{{username}}'/>
            </label> 
            <label>
                <p class='error'>{{username_error}}</p>
            </label>
            <label>Password
                <input type="password" name="password" value=''/>
            </label>
            <label>
                <p class='error'>{{password_error}}</p>
            </label>
            <label>Verify password
                <input type="password" name="password" value=""/>
            </label>
            <label>
                <p class='error'>{{password_error}}</p>
            </label>
            <label>Email(optional)
                <input type="text" name="email" value="{{email}}"/>
            </label>
            <label>
                <p class error="error">{{email_error}}</p>
            </label>
            <input type="submit" value="Submit"/>


        </form>


    </body>

</html>